@font-face {
    font-family: 'Lobstr';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(../layout/fonts/source-sans-pro-v11-latin-400.woff2) format('woff2');
  }

@font-face {
    font-family: 'Lobstr';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(../layout/fonts/source-sans-pro-v11-latin-600.woff2) format('woff2');
}

@font-face {
    font-family: 'Lobstr';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../layout/fonts/source-sans-pro-v11-latin-700.woff2) format('woff2');
}


 code[class*="language-"],
 pre[class*="language-"] {
     text-shadow: 0 1px rgba(0, 0, 0, 0.2);
 }
 
 /* Code blocks */
 pre[class*="language-"] {
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: slategray;
 }
 
 .token.punctuation {
    color: #091c42;
 }
 
 .namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #f92672;
 }
 
 .token.boolean,
 .token.number {
     color: purple;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color:green;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #091c42;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: #e6db74;
 }
 
 .token.keyword {
     color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
     color: #fd971f;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 